.pie {
    width: 100%;
    height: 100px;
    padding: 95px;
    font-family: 'Special Elite', cursive;
    align-items: center;
    text-align: center;
    color: white;
    font-size: smaller;

}

.pie2 {
    width: 100%;
    height: 100px;
    padding: 210px;
    font-family: 'Special Elite', cursive;
    align-items: center;
    text-align: center;
    color: white;
    font-size: smaller;

}