.titulo {
    font-family: 'Kaushan Script', cursive;
    text-decoration: none;
    color: white;
}

.subtitulo {
    font-family: 'Special Elite', cursive;
    text-decoration: none;
    color: white;
}

.texto {
    font-family: 'Spartan', cursive;
    color: white;
    padding-top: 15px;
    padding: 15px;
    text-align: center;
}

.pequeña {
    font-size: small;
    color: white;
    text-align: justify;
    padding: 35px;
}